@model POOII_CL2_QUISPE_EDSON.Models.Producto

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Producto</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdTipo" class="control-label">IdTipo</label>
                <input asp-for="IdTipo" class="form-control" />
                <span asp-validation-for="IdTipo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Precio" class="control-label">Precio</label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Fecha" class="control-label">Fecha</label>
                <input asp-for="Fecha" type="date" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <br />
            <div class="d-flex justify-content-start mb-3">
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
                <div class="ms-3">
                    <a asp-action="Listado" class="btn btn-secondary">Regresar al Listado</a>
                </div>
            </div>
        </form>
    </div>
</div>
<br />

@if (!string.IsNullOrEmpty(ViewBag.mensaje))
{
    <div class="alert alert-success">@ViewBag.mensaje</div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
